
{% if prometheus_storage is defined and
      prometheus_storage | count > 0 %}
storage:
  {{ prometheus_storage | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
{#
  a complete wallpaper with all possible configuration parameters
storage:
  [ - <exemplars> ... ]
  # Configures the maximum size of the circular buffer used to store exemplars for all series. Resizable during runtime.
  [ max_exemplars: <int> | default = 100000 ]
#}
